<div class="page-header pt-3">
  <%= link_to t('btn.new'), new_admins_w_question_path, class: "btn btn-outline-success", style: "float: right"%>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= set_name(:id) %></th>
      <th scope="col"></th>
      <th scope="col"><%= set_name(:description) %></th>
      <th scope="col"></th>
      <th scope="col"><%= set_name(:subject) %></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |a| %>
        <tr>
            <td><%= a.id %><td>
            <td><%= a.description.truncate(50) %><td>
            <td><%= a.subject.description %><td>
            <td><%= link_to t('btn.edit'), edit_admins_w_question_path(a.id), class: "btn btn-outline-info"%></td>
            <td><%= link_to t('btn.delete'), admins_w_question_path(a.id), method: :delete, class: "btn btn-outline-danger", data: {confirm: 'Tem certeza que deseja excluir essa questão ?' }%></td>
        <tr>
    <% end %>
  </tbody>
</table>
<%= paginate @questions %>