<div style="text-align:center;margin: 0 auto;">
  <h2 style="font-family:Arial;"><%= "#{t('hello')} #{current_user.user_profile.first_name} 
  #{current_user.user_profile.last_name} " %></h2>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('begin.total_questions') %></h5>
    <p class="card-text"><%= @statistic.total_questions %></p>
  </div>
</div>
</br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('begin.right_questions') %></h5>
    <p class="card-text"><%= @statistic.right_questions %></p>
  </div>
</div>
</br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('begin.wrong_questions') %></h5>
    <p class="card-text"><%= @statistic.wrong_questions %></p>
  </div>
</div>
</br>
<%= link_to 'Reset', users_w_welcome_index_path, method: :patch, class: "btn btn-outline-info" %>