<div class="page-header pt-3">
  
  <h2 style="display:inline-block">Listando Assunstos/Áreas</h2>
  <%= link_to 'Novo', new_admins_w_subject_path, class: "btn btn-outline-success", style: "float: right"%>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"></th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |a| %>
        <tr>
            <td><%= a.id %><td>
            <td><%= a.description %><td>
            <td><%= link_to 'Editar', edit_admins_w_subject_path(a.id), class: "btn btn-outline-info"%></td>
            <td><%= link_to 'Excluir', admins_w_subject_path(a.id), method: :delete, class: "btn btn-outline-danger", data: {confirm: 'Tem certeza que deseja excluir esse(a) assunto/área ?' }%></td>
        <tr>
    <% end %>
  </tbody>
</table>
<%= paginate @subjects %>