<!-- Questões -->
<% @questions.each do |q| %>
  <%= form_with(url: site_answer_path) do |f| %>
    <div class="card" style="margin-bottom:40px">
      <div class="card-header text-white bg-dark mb-3">
        <h5><%= link_to "#{q.subject.description} (#{q.subject.questions_count})", site_search_subject_path(q.subject.id, q.subject.description), class: "badge bg-info", style: "text-decoration: none;" %></h5>
        <%= q.description %>
      </div>
      <div class="card-body">
        <ul style="list-style-type: none;">
          <% q.answers.each do |answer| %>
            <li>
                <div class="radio">
                  <label>
                    <%= radio_button_tag 'answer_id', answer.id %>
                    <span id="span_<%= answer.id %>"><%= answer.description %></span>
                  </label>
                </div>
            </li>
          <% end %>
        </ul>
        <%= f.submit "Answer", class: "btn btn-dark", style: "float: right" %>
      </div>
    </div>
  <% end %>
<% end %>
<% if user_signed_in? %>
<%= paginate @questions %>
<% else %>
<%= link_to 'Sign-up to continue', new_user_registration_path, class: "btn btn-outline-info" %>
<% end %>