<div style="width:50%;border:1px solid #787878; margin: 0 auto; margin-top:10%;padding:30px">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
    </div>
    </br>
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-info", style: "width: 100%; color:white;" %>
    </div>
  <% end %>
  </br>
  <div style="background:#eeeeee; border-radius:5px; text-align:center;padding:10px">
    <%= render "admins/shared/links" %>
  </div>
</div>
