<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <h4 class="navbar-brand"><%= current_admin.email %></h4>
          <%= link_to 'Sign-out', destroy_admin_session_path, method: :delete, class: "navbar-text" %>
        </div>
      </div>
    </nav>
    <!-- SIDEBAR-->
    <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <%= link_to 'Home', admins_w_welcome_index_path, class: "list-group-item border-end-0 d-inline-block text-truncate" %>
                    <%= link_to 'Admins', admins_w_admins_path, class: "list-group-item border-end-0 d-inline-block text-truncate" %>
                    <%= link_to 'Questões', admins_w_questions_path, class: "list-group-item border-end-0 d-inline-block text-truncate" %>
                    <%= link_to 'Assuntos/Áreas', admins_w_subjects_path, class: "list-group-item border-end-0 d-inline-block text-truncate" %>
                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"> Menu</a>
            <%= yield %>
        </main>
    </div>
</div>
  </body>
  <% if notice %>
    <script>
        alert("<%= notice %>")
    </script>
  <% end %>
</html>
