<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav justify-content-end">
    <li class="nav-item">
        <%= link_to 'Home', site_welcome_index_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Sign-out', destroy_admin_session_path, method: :delete, class: "nav-link" %>
    </li>
    </ul>
    <%= yield %>
  </body>
</html>
