<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <div class="container py-4">
      <header class="p-3 bg-dark text-white">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <%= form_with(url: site_search_path, local: true, method: :get, class: "d-flex") do |f| %>
                <%= f.text_field :explore, class: "form-control me-2"%>
                <%= f.submit t("search"), class: "btn btn-outline-success"%>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to image_tag("https://cdn-icons-png.flaticon.com/512/330/330430.png", size: "30x30"), root_path(locale: "pt-BR"), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to image_tag("https://cdn-icons-png.flaticon.com/512/555/555417.png", size: "30x30"), root_path(locale: "en"), class: "nav-link" %>
            </li>
          </ul>
          <% if admin_signed_in? %>
            <div style="margin-right:20px">
              <%= link_to 'Admin', admins_w_welcome_index_path, class: "btn btn-warning" %> 
            </div> 
          <% end %>
          <% if user_signed_in? %>
            <!-- Example single danger button -->
            <div class="btn-group">
              <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t('settings') %>
              </button>
              <ul class="dropdown-menu">
                
                <li><%= link_to t('profile'), users_w_welcome_index_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to t('sign-out'), destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </div>
          <% else %>
            <div style="margin-right:20px">
              <%= link_to t('sign-in'), new_user_session_path, class: "btn btn-light" %> 
            </div> 
            <div>
              <%= link_to t('sign-up'), new_user_registration_path, class: "btn btn-outline-info" %>
            </div> 
          <% end %>
        </div>
      </div>
    </nav>
    </header>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold"><%= link_to 'Time To Answer', site_welcome_index_path, style: "text-decoration:none;color:#0dcaf0;"%></h1>
          <p class="col-md-8 fs-4"><%= set_msg %></p>
        </div>
      </div>
      <div class="row align-items-md-stretch">
      <%= yield %>

      <footer class="pt-3 mt-4 text-muted border-top">
        © 2021
      </footer>
    </div>
  </main>
    
  </body>
</html>
