<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <h4 style="text-align:center; width:100%;">Perfil</h4>
                        <span style="text-align:center; width:100%;">Time To Answer</span></br>
                        <div style="width:100%;text-align:center;">
                          <%= link_to image_tag(verify_profile_img, size: "100x100"), "#", "data-bs-toggle": "modal", "data-bs-target": "#staticBackdrop" %>
                        </div></br>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu"  style="width:100%;"> 
                        <li class="nav-item"  style="border:1px solid #42484b; width:100%;text-align:center;margin-bottom:10px;">
                            <%= link_to 'Home', site_welcome_index_path, class: "nav-link align-middle px-0", style: "color:white;" %>
                        </li>
                        <li class="nav-item" style="border:1px solid #42484b; width:100%;text-align:center;margin-bottom:10px;">
                            <%= link_to 'Status', users_w_welcome_index_path, class: "nav-link align-middle px-0", style: "color:white;#{set_color("index")}" %>
                        </li>
                        <li class="nav-item"  style="border:1px solid #42484b; width:100%;text-align:center;margin-bottom:10px;">
                            <%= link_to 'Edit profile', users_w_profile_path, class: "nav-link align-middle px-0", style: "color:white;#{set_color("edit")}"  %>
                        </li>
                        <li class="nav-item"  style="border:1px solid #42484b; width:100%;text-align:center;margin-bottom:10px;">
                            <%= link_to 'Sign-out', destroy_user_session_path, method: :delete, class: "nav-link align-middle px-0", style: "color:white;"  %>
                        </li>                                               
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                <%= yield %>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <%= form_with(url: users_w_profile_path, model: current_user, local: true) do |f|%>
        <%= f.fields_for :user_profile do |profile|%>
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Image -->
                <div class="row">
                    <div class="col">
                        <%= image_tag verify_profile_img, size: "150x100" %>
                        <%= profile.file_field :avatar%>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.submit "Update", class: "btn btn-outline-primary" %>
            </div>
        <% end %>
        <% end %>
        </div>
    </div>
    </div>
  </body>
</html>
